body {
  margin: 0;
  font-family: Arial;
}

.top {
  background: #d93025;
  color: white;
  padding: 10px;
}

.layout {
  display: flex;
}

.menu {
  width: 200px;
  background: #f1f1f1;
  padding: 10px;
}

.mail {
  border-bottom: 1px solid #ccc;
  padding: 10px;
}
